
<%= link_to "Rooms", rooms_path %>

<h1>Users</h1>

<div id="users">
  <% User.all.each do |user| %>
    <p><%= user.email %></p>
  <% end %>
</div>

<h1>Rooms</h1>

<div id="rooms">
  <% Room.all.each do |room| %>
    <p><%= room.name %></p>
  <% end %>
</div>



<p>Create message</p>

<div data-controller="hello">
  <%= text_area_tag :message, "", data: { hello_target: "message" } %>
  <%= button_tag "say: hello", data: { action: "hello#send" } %>
</div>
